<ul class="navbar-nav">
    @if (User.Identity is { IsAuthenticated: true })
    {
        <li class="nav-item">
            <span class="nav-link text-dark">¡Hola @User.Identity.Name!</span>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Cuenta" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Cerrar sesión</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Cuenta" asp-action="Register">Registrarse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Cuenta" asp-action="Login">Iniciar sesión</a>
        </li>
    }
</ul>